html
    head
        title= name
    body(style="background: #ddd;")
        h1(style="text-align:center")= name
        a(href= url) 
          img(style="margin:0 auto;display:block")(src="./assets/btn_google_signin_dark_disabled_web@2x.png")
