html
    head
        title= name
        link(src='https://fonts.googleapis.com/css?family=Open+Sans&display=swap')
    body(style="background: #ddd;font-family: 'Open Sans', sans-serif;")
        h1(style="text-align:center")= name
        a(href= url) 
          img(style="margin: 163px auto;display:block;border: 3px solid #7a7a7a;box-shadow: 6px 3px 83px #aaa;")(src="./assets/btn_google_signin_dark_disabled_web@2x.png")
