doctype html
html
    head
        title="Welcome"
    body(style="background: #fff;")
        img(style="margin:0 auto;display:block")(src="../assets/Walter_(Muppet).jpg")
        h1(style="text-align:center").greetings#login= name
